# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask==1.0.4        # pyup: >=1.0.0,<1.1.0
itsdangerous==1.1.0  # pyup: ignore

git+https://github.com/alphagov/digitalmarketplace-utils.git@54.1.1#egg=digitalmarketplace-utils==54.1.1

# Elasticsearch 5.0
elasticsearch==7.9.1 # pyup: >=5.0.0,<6.0.0 # recommended by https://github.com/elastic/elasticsearch-py/blob/master/README
Flask-Elasticsearch==0.2.5
