# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.4 # pyup: >=1.0.0,<1.1.0
itsdangerous==0.24 # pyup: ignore

git+https://github.com/alphagov/digitalmarketplace-utils.git@48.0.2#egg=digitalmarketplace-utils==48.0.2

# Elasticsearch 5.0
elasticsearch==6.3.1 # pyup: >=5.0.0,<6.0.0 # recommended by https://github.com/elastic/elasticsearch-py/blob/master/README
Flask-Elasticsearch==0.2.5
Flask-gzip==0.2 # pyup: <0.3
