# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements.in

Flask>=1.1,<2
itsdangerous

digitalmarketplace-utils

# Elasticsearch 5.0
elasticsearch==7.14.1 # pyup: >=5.0.0,<6.0.0 # recommended by https://github.com/elastic/elasticsearch-py/blob/master/README
Flask-Elasticsearch==0.2.5
