# Run `make freeze-requirements` to update requirements.txt
# with package version changes made in requirements-app.txt

Flask==1.0.2
itsdangerous==0.24 # pyup: ignore

git+https://github.com/alphagov/digitalmarketplace-utils.git@46.3.1#egg=digitalmarketplace-utils==46.3.1

# Elasticsearch 5.0
elasticsearch==5.5.3 # pyup: >=5.0.0,<6.0.0 # recommended by https://github.com/elastic/elasticsearch-py/blob/master/README
Flask-Elasticsearch==0.2.5
